node_modules/
.pnpm-store/
.next/
out/
.env
.env.local
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.idea/
.vscode/
pnpm-lock.yaml

# Local uploads (development only)
public/uploads/
